{% extends "layout.njk" %}

{% block content %}
    <main>
        <section class="erro">
            <h1>Erro 404</h1>

            <p>Não foi possível acessar está página. Tente novamente mais tarde.</p>
        </section>
    </main>
{% endblock %}