/* Global */

@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

:root {
    --primary-color: #1168da;
    --secondary-color: #f7df1e;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
}

/* Nav */

nav {
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

nav a {
    font-size: 22px;
    text-decoration: none;
    color: #777777;
    position: relative;
}

nav a+a {
    margin-left: 32px;
}

nav a.active {
    font-weight: bold;
    color: var(--primary-color);
}

nav a:hover {
    color: var(--primary-color);
}

nav a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}

nav a:hover::after {
    width: 100%;
    transition: width 500ms ease-in-out;
}

/* Page Erro */

.erro {
    text-align: center;
    margin-top: 35px;
}

.erro h1 {
    font-size: 68px;
    line-height: 78px;
    font-weight: bold;
    color: white;
}

.erro p {
    font-size: 20px;
    line-height: 30px;
    color: rgb(180, 180, 180);
}

/* Card */

.card {
    background-color: white;
    width: 800px;
    min-height: 400px;
    margin: 45px auto;
    display: grid;
    grid-template-columns: 40% 60%;
    box-shadow: 15px 15px 10px -2px rgba(0, 0, 0, 0.4);
    /* Animation */
    animation: up 200ms ease-in-out;
}

/* Animation */

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}

/* Details */

.details {
    padding: 32px;
}

.details .item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 0;
}

.details .item:first-child {
    border: none;
}

.details h3, .details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2) {
    color: #555555;
    font-weight: bold;
    font-size: 18px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
}

.details .item span {
    padding: 8px 16px;
    background-color: var(--secondary-color);
    border-radius: 16px;
    color: #777777;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.details .item:nth-child(7) div:nth-child(2) {
    color: var(--primary-color);
}

/* Form */

input {
    width: 100%;
    outline: none;
    color: #555555;
    font-weight: bold;
    font-size: 18px;
}

input[type="radio"] {
    width: initial;
    margin-right: 4px;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
}

select {
    width: 100%;
    padding: 8px 16px;
    font-size: 16px;
    border: 1px var(--primary-color) solid;
    border-radius: 4px;
}

button[type="submit"] {
    padding: 8px 32px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}

/* Page Show */

.group-buttons {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px;
}

.button-edit {
    padding: 8px 32px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    font-size: 16px;
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    margin: 32px auto 0;
}

#form-delete button[type="submit"] {
    margin-top: 8px;
    background-color: red;
    margin: 32px auto 0;
}

/* Index Teachers */

.table-container {
    display: block;
    padding: 40px;
    box-sizing: border-box;
}

.table-container table {
    border-spacing: 0;
}

.table-container thead tr th, .table-container tbody tr td {
    text-align: center;
}

td, th {
    padding: 16px;
    border-bottom: 1px solid #d9d9d9;
}

th {
    text-transform: uppercase;
    color: #777777;
    font-size: 14px;
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody tr td:first-child {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

tbody tr td:first-child span {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px black;
    border: 2px solid white;
}

tbody tr td:last-child a, .table-container>a {
    background-color: var(--primary-color);
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    border-radius: 4px;
}

.table-container>a {
    margin-bottom: 16px;
    display: inline-block;
}

/* Filters */

.table-container .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 32px;
}

.table-container .header a {
    margin: 0;
    width: 33px;
}

.table-container .header form {
    display: grid;
    grid-template-columns: 1fr 120px;
    align-items: center;
    gap: 8px;
}

.table-container .header form input {
    border: 1px solid #eeeeee;
    padding: 4px 8px;
    box-sizing: border-box;
}

.table-container .header form button {
    margin: 0;
}

/* Botão create teacher */

.table-container .header #button-filter {
    margin-bottom: 16px;
    display: inline-block;
    background-color: var(--primary-color);
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    border-radius: 4px;
}

/* Pagination */

.table-container {
    display: grid;
    /* rows / columns */
    grid-template: 64px 1fr 16px / 1fr;
}

.table-container .header {
    margin: 0;
    align-self: start;
}

.table-container .pagination {
    margin: 0;
    align-self: end;
    justify-self: center;
}

.pagination a, .pagination span {
    color: var(--primary-color);
    text-decoration: none;
    margin-right: 16px;
}

.pagination a:hover {
    filter: brightness(0.3);
    border-bottom: 1px solid var(--primary-color);
}