<div class="item">
    <div>Avatar URL</div>
    <div>
        <input type="url" name="avatar_url" placeholder="http://" value="{{ teacher.avatar_url }}">
    </div>
</div>

<div class="item">
    <div>Nome Completo</div>
    <div>
        <input type="text" name="name" placeholder="Nome do Professor" value="{{ teacher.name }}">
    </div>
</div>

<div class="item">
    <div>Data de nascimento</div>
    <div>
        <input type="date" name="birth_date" value="{{ teacher.birth_date }}">
    </div>
</div>

<div class="item">
    <div>Grau de escolaridade</div>
    <select name="education_level">
        <option value="medio" {% if teacher.education_level == 'medio' %} selected="selected" {% endif %}>Ensino Médio Completo</option>
        <option value="superior" {% if teacher.education_level == 'superior' %} selected="selected" {% endif %}>Ensino Superior Completo</option>
        <option value="mestrado" {% if teacher.education_level == 'mestrado' %} selected="selected" {% endif %}>Mestrado</option>
        <option value="doutorado" {% if teacher.education_level == 'doutorado' %} selected="selected" {% endif %}>Doutorado</option>
    </select>
</div>

<div class="item">
    <div>Tipo de aula</div>
    <div>
        <span><input type="radio" name="class_type" value="P" {% if teacher.class_type == 'P' %} checked="checked" {% endif %}>Presencial</span>
        <span><input type="radio" name="class_type" value="D" {% if teacher.class_type == 'D' %} checked="checked" {% endif %}>À distância</span>
    </div>
</div>

<div class="item">
    <div>Área de atuação</div>
    <div>
        <input type="text" name="subjects_taught" placeholder="Separe os serviços prestados por vírgula" value="{{ teacher.subjects_taught }}">
    </div>
</div>

<button type="submit">Salvar</button>